<html>

<head>
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <h1 class="sign1" align="center">Ants Killer</h1> <br>
  <h2 class="sign2" align="center">By Anis Dai</h2>

  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <form method= "POST" action = "/" class="form1">

      <input name="email" class="un " type="text" align="center" placeholder="Email Address" required>
      <input name="password" class="pass" type="password" align="center" placeholder="Password" required>
      <input class="submit" type="submit" value="Submit"> <br> <br><br>
      <a href="/signup" class="signup" align="center">Sign Up</a>
            
                
  </div>
</body>

</html>